@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$darkColor: #2f2d52;

.home-desktop-dark {

    /*background-color: #a7bcff;*/
    background-color: #2d3436;
    padding: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid #656565;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 100vh;
        }
    }
}