@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$whiteContainerBackgroundGradient: linear-gradient(90deg, #d5c8f3, #fcf0ff, #f5cef2); //
$whiteWrapperBackgroundColor: white; //

$whiteLogoColor: #d08ae2; //
$whiteButtonBackgroundColor: #ddddf7; //
$whiteButtonHoverBackgroundColor: white; //
$whiteButtonHoverTextColor: black; //
$whiteButtonHoverBorderColor: #a7bcff; //

$whitePColor: #5d5b8d; //
$whiteAColor: black; //
$whiteAHoverColor: #5d5b8d; //
$whiteAHoverBackgroundColor: white; //
$whiteInputBorderColor: #a7bcff; //
$whiteInputColor: #8a8984; //
$whiteInputBackgroundColor: white; //
$whiteInputButtonColor: white; //
$whiteInputLabelColor: #8da4f1; //

.register-form-container-mobile-white {

    background: $whiteContainerBackgroundGradient;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .formWrapper-white {
        background-color: $whiteWrapperBackgroundColor;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .horse {
            width: 5vw;

            @include tablet {
                width: 10vw;
            }
    
            @include mobile {
                width: 15vw;
            }
        }

        .logo {
            color: $whiteLogoColor;
            font-weight: bold;
            font-size: 20px;

            @include tablet {
                font-size: 20px;
            }
    
            @include mobile {
                font-size: 15px;
            }
        }

        .title {
            color: $whiteLogoColor;
            font-size: 14px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $whiteInputBorderColor;
                background-color: $whiteInputBackgroundColor;
                color: $whiteInputColor;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: $whiteButtonBackgroundColor;
                color: $whiteInputButtonColor;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                gap: 10px;
                margin: 5px;

                @include tablet {
                    bottom: 10px;
                }
            }

            button:hover {
                background-color: $whiteButtonHoverBackgroundColor;
                color: $whiteButtonHoverTextColor;
                border: 1px solid $whiteButtonHoverBorderColor;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $whiteInputLabelColor;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }

        p {
            color: $whitePColor;
            font-size: 12px;
            margin-top: 10px;
        }

        a {
            color: $whiteAColor;
            border: 10px;
            gap: 10%;
            margin: 5px;
        }

        a:hover {
            color: $whiteAHoverColor;
            background-color: $whiteAHoverBackgroundColor;
        }
    }
}