@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$darkColor: #2f2d52;

.input-desktop-white {
    height: 50px;
    /*background-color: white;*/
    background-color: #202327;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: 100%;
        border: none;
        border-radius: 50px;
        outline: none;
        /*color: #2f2d52;*/
        color: white;
        font-size: 18px;
        padding: 10px;
        background-color: #2d3436;

        &::placeholder {
            color: lightgray;
        }
    }

    .emoji {
        margin: 5px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 24px;
        cursor: pointer;

        display: flex;
        border-radius: 10px;
        position: relative;
        border-bottom: 50%;
    }

    .send {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 24px;
            cursor: pointer;
        }

        button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #8da4f1;
            cursor: pointer;

            @include tablet {}

        }

        button:hover {
            background-color: white;
            color: black;
        }
    }
}