@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$darkPBackgroundGradient: linear-gradient(90deg, #5d5b8d, #8a5382, #8da4f1); //

$darkButtonBackgroundColor: #5d5b8d; //
$darkButtonHoverBackgroundColor: white; //
$darkButtonHoverTextColor: black; //
$darkButtonTextColor: #ddddf7; //
$darkMessageInfoTextColor: gray; //
$darkPTextColor: white; //

.message-mobile-dark {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;

    .messageInfo {
        display: flex;
        flex-direction: column;
        color: $darkMessageInfoTextColor;
        font-weight: 300;

        @include tablet {
            height: 6vh;
        }

        @include mobile {
            height: 3vh;
        }

        p {
            font-size: 10px;

            @include tablet {
                font-size: 12px;
            }

            @include mobile {
                font-size: 10px;
            }
        }

        img {
            width: 2vw;
            border-radius: 50%;
            object-fit: cover;

            @include tablet {
                width: 4vw;
                font-size: 15px;
            }

            @include mobile {
                width: 4vw;
                font-size: 15px;
            }
        }

        .delete-button {
            height: 10px;
            width: 10px;
            cursor: pointer;

            @include tablet {
                height: 10px;
                width: 10px;
            }

            @include mobile {
                height: 10px;
                width: 10px;
            }
        }
    }

    button:hover {
        background-color: $darkButtonHoverBackgroundColor;
        color: $darkButtonHoverTextColor;
    }

    .messageContent {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        color: gray;
        gap: 10px;
        width: 60vw;

        p {
            background-color: $darkPTextColor;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
            font-size: 12px;
            height: 100%;
            width: 50vw;

            @include tablet {
                height: 100%;
                width: 100%;
                font-size: 12px;
            }

            @include mobile {
                height: 100%;
                width: 100%;
                font-size: 12px;
            }
        }

        img {
            width: auto;

            @include tablet {
                height: 2vh;
                width: 1vw;
            }

            @include mobile {
                height: 2vh;
                width: 1vw;
            }
        }
    }

    &.owner {
        flex-direction: row-reverse;

        .messageContent {
            align-items: flex-end;

            p {
                background: $darkPBackgroundGradient;
                color: $darkPTextColor;
                border-radius: 10px 0px 10px 10px;
                background-size: 400% 400%;
                font-size: 12px;
                animation: gradient-animation 15s ease infinite;
                width: 50vw;

                @include tablet {
                    height: 100%;
                    width: 100%;
                    font-size: 12px;
                }

                @include mobile {
                    height: 100%;
                    width: 100%;
                    font-size: 12px;
                }

                @keyframes gradient-animation {
                    0% {
                        background-position: 0% 50%;
                    }

                    50% {
                        background-position: 100% 50%;
                    }

                    100% {
                        background-position: 0% 50%;
                    }
                }
            }
        }
    }
}